[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
celery = "*"
django-celery-results = "*"
kombu = "*"
psycopg2 = "*"
djangorestframework = "*"
celery-message-consumer = "*"
watchdog = "*"
pyyaml = "*"
argh = "*"
motus_api = {git = "https://github.com/sensorgnome-org/python-motus-api.git",ref = "api-start"}

[requires]
python_version = "3.8"
