{% block content %}
  <!DOCTYPE html>
  <html>
    <head>
        <meta charset="utf-8">
        <title>Sensorgnome {{ sensorgnome.serial }} Detail</title>
    </head>
    <body>
        <h2>Sensorgnome Status</h2>

            {{ sensorgnome.name }}<br />
            {{ sensorgnome.serial }}<br />
            {{ sensorgnome.last_seen }}<br />
            <a href="https://sandbox.motus.org/data/receiver?id={{ sensorgnome.motus_receiver_id }}"> Motus Receiver</a></a>

    </body>
  </html>
{% endblock %}