{% block content %}
  <!DOCTYPE html>
  <html>
    <head>
        <meta charset="utf-8">
        <title>Sensorgnome {{ sensorgnome.serial }} Detail</title>
    </head>
    <body>
        <h2>Sensorgnome Status</h2>

            Name: {{ sensorgnome.name }}<br />
            Serial Number: {{ sensorgnome.serial }}<br />
            Last Seen: {{ sensorgnome.last_seen }}<br />
            {% if sensorgnome.motus_metadata %}
                <a href="https://sandbox.motus.org/data/receiver?id={{ sensorgnome.motus_metadata.motus_receiver_id }}"> Motus Receiver</a>
            {% else %}
                <a href="http://localhost:8080/sensorgnomes/apiv0/link/{{ sensorgnome.serial }}">Link this receiver with a Motus Receiver.</a>
            {% endif %}
            <br /><br />
            <iframe src="http://localhost:3003/d-solo/edAcKqNMz/new-dashboard-copy?from=1598898502022&to=1598920102022&orgId=1&panelId=2" width="450" height="200" frameborder="0"></iframe>

    </body>
  </html>
{% endblock %}